h1 {
    display: block;
    margin-top: 50px;
    margin-left: 100px;
    /* margin-right: 0; */ 
  }
  h2 {
    display: block;
    margin-top: 50px;
    margin-left: 100px;
    /* margin-right: 0; */
  }
  p{
    /* display: block; */
    margin-top: 50px;
    margin-left: 100px;
    /* margin-right: 0; */
  }
  .mainDiv{
      background-color: lightskyblue;
      /* padding-left: 25%;
      padding-right: 25%; */
      margin-left: 25%;
      margin-right: 25%;
      border-radius: 25px;
     padding-bottom: 15px;
     padding-top: 10px;
  }
  .mainForm{
      background-color: lightslategray;
      margin-left: 25%;
      margin-right: 55%;
      /* float: left; */
      padding-left: 10px;
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      border-radius: 25px;
      align-content: center;
  }

  .fiveDayDiv{
    background-color: rgb(187, 250, 135);
    /* padding-left: 25%;
    padding-right: 25%; */
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 25px;
   padding-bottom: 15px;
   padding-top: 10px;
   /* float: left; */
  }

  .image{
      float: right;
      padding-right: 25px;
      padding-top: 15px;
      /* visibility: hidden; */
        
  }
  #clouds{
      visibility: hidden;
  }
  #lightRain{
      visibility: hidden;
  }